/* MAIN MENU
----------------------------------------------------------- */

#s5_navv a {
     font-family: 'Lucida Grande',helvetica,verdana,sans-serif,arial;
     font-weight:bold;
     font-size: 11px;
     padding-left: 13px;
     padding-right: 13px;
     float: left;
	 color:#333333;
     display: block;
     cursor: pointer;
	 padding-top:5px;
	 padding-bottom:5px;
	 border:solid 1px #CCCCCC;
	 text-decoration:none;
     overflow: hidden; }
	 
#s5_navv ul li {
height:30px;
margin-left:6px;
background:url(../images/s5_menu_link.png) repeat-x;
}

#s5_navv ul li.acitve a.active:hover {
color:#ffffff;
}

#s5_navv ul li ul li a {
border:none;
}

#s5_navv ul li ul li {
border:none;
margin-left:0px;
}

#s5_navv a span {
	color:#B1B1B1;
	font-size:10px;}

#s5_navv li li a {
	height: 30px;}

#s5_navv li li {
     text-align: left;
     width: 219px; }

* html #s5_navv li li {
     width: 222px; }

#s5_navv ul li ul li a:hover {
     position: relative;
     text-decoration: underline; }

#s5_navv ul li ul li a {
	margin-top:0px;
} 

#s5_navv ul li a.parent, #s5_navv ul li ul li a.parent {
    background:transparent url(../images/s5_menu_arrow.gif) no-repeat right; }

#s5_navv ul li a.parent:hover, #s5_navv ul li ul li a.parent:hover  {
    background:transparent url(../images/s5_menu_arrow.gif) no-repeat right; }
	
* html #s5_navv ul li a.parent, * html #s5_navv ul li ul li a.parent {
    background:transparent url(../images/s5_menu_arrow_ie.gif) no-repeat right; }
	
* html #s5_navv ul li a.parent:hover, * html #s5_navv ul li ul li a.parent:hover  {
    background:transparent url(../images/s5_menu_arrow_ie.gif) no-repeat right; }


#s5_navv ul li ul li {
    background:none; }   
#s5_navv ul li ul li:hover {
    background:none; }   
	 
#s5_navv {
     z-index: 1;
}

#s5_navv ul li{
	position: relative;
}

#s5_navv li li a{
	font-weight: normal;
	padding: 0;
	text-indent: 11px;
    z-index: 1;
}

#s5_navv, #s5_navv ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#s5_navv ul ul a {
	display: block;
	text-decoration: none;
	width: 219px;
	text-transform: none;
        z-index: 1;
}

* html #s5_navv ul ul a {
	width: 219px;
}



#s5_navv li {
    float: left;
    padding: 0;
    z-index: 1;
}

#s5_navv li li{
    float: left;
    padding: 0px;
    background: none;
    height: 20px;
	padding:5px;
	padding-bottom:0px;
    z-index: 1;
}

#s5_navv ul li {
    z-index: 5;
}

#s5_navv li ul {
	top: 30px;
	position: absolute;
	left: -999em;
	height: auto;
	width:  219px;
	border-width: 0;
	margin: 0;
	padding: 0;
        z-index: 1;
}



#s5_navv li ul a {
	font-weight: bold;
        z-index: 1;
}
	
#s5_navv ul {
	padding: 0;
	margin: 0;
        z-index: 1;
}

#s5_navv li ul ul {
text-decoration:none;
	margin: -20px 0 0 200px;
        z-index: 1;
}

* html #s5_navv li ul ul {
	margin: -20px 0 0 207px;
        z-index: 1;
}

#s5_navv li:hover ul ul, 
#s5_navv li:hover ul ul ul,
#s5_navv li:hover ul ul ul ul,  
#s5_navv li.sfhover ul ul, 
#s5_navv li.sfhover ul ul ul, 
#s5_navv li.sfhover ul ul ul ul {
	left: -999em;
        z-index: 1;
}

#s5_navv li:hover ul, 
#s5_navv li li:hover ul, 
#s5_navv li li li:hover ul, 
#s5_navv li li li li:hover ul,
#s5_navv li.sfhover ul, 
#s5_navv li li.sfhover ul, 
#s5_navv li li li.sfhover ul,
#s5_navv li li li li.sfhover ul{
	left: 0;
        position: absolute;
        z-index: 1;
}


#s5_navv li:hover ul, #s5_navv li.sfhover ul {
left: 0;
background-position: 0 0;
}

#s5_navv li li:hover, #s5_navv li li.sfhover {
background:none;
}


#s5_navv ul li li a, #s5_navv ul li li:hover a, #s5_navv ul li li.over a, #s5_fm_ul0 ul li li:hover a, #s5_fm_ul0 ul li li.over a {
background:transparent;
color:#333333;
}

#s5_navv {
	padding-right:16px;
}

#s5_navv ul ul {	
	background:#FFFFFF url(../images/s5_menu_link.png) repeat-x;
	border-left:1px solid #DBD9D9;
	border-right:1px solid #DBD9D9;
	border-top:1px solid #DBD9D9;
	border-bottom:1px solid #DBD9D9;
	border-width:1px 1px 1px 1px; 
}

#s5_navv ul li ul li a {
     font-family: 'Lucida Grande',helvetica,verdana,sans-serif,arial;
     font-size:12px; 
	 height:30px;
	 line-height:30px;
     font-weight: normal; }
	 
* html #s5_navv ul li ul li a {
	height:20px;
	line-height:20px;
	}

#s5_navv ul li ul li:hover, #s5_navv ul li ul li.sfhover {
	background:none;
}

* html .s5_bottommenu {
height:1px;
line-height:0px;
padding:0px;
margin:0px;
margin-top:-10px;
}