*  {
	margin: 0;
	padding: 0;
	font-size:13px !important;
	font-family:Verdana, Geneva, sans-serif !important }


 img, fieldset  { border:none; }
 
 body  {
    font-family:Tahoma, Geneva, sans-serif }
 
a  {
	text-decoration: none;
	font-family: Arial;
	color:#FFFFFF; }
	
.button, .button-none {
	padding-left:8px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:4px;
	margin-top:6px;
	margin-bottom:6px;
	height:24px;
	border:none;
	color:#FFFFFF;
	font-size:10px;
	font-weight:bold;
}

* html .button, * html .button-none {
	padding-left:3px;
	padding-right: 5px;
}

.inputbox {
     border: solid 1px #D9D9D9;
     color: #333333;
     margin: 4px;
     background: #ffffff;
}

h1 {
font-size:11px;
}

h2 {
font-size:12px;
}

h3 {
font-size:13px;
}

h4 {
font-size:14px;
}

h5 {
font-size:15px;
}

.sectiontableheader {
	background-color:#EFEDED;
	border-bottom:solid 1px #DAD8D8;
	color:#333333;
	line-height:29px;
	padding:0pt 10px;
}

.sectiontableentry1 {
	font-size:12px;
	padding:7px;
	background:none;
	color:#333333;
}

.sectiontableentry2 {
	background:#EFEDED;
	font-size:12px;
	padding:7px;
	color:#333333;
}

.inputbox:hover, .inputbox:focus {
     border: solid 1px #CCCCCC;
}
	
a:hover, a:focus  {
	color:#666666;
	text-decoration:underline; }

 img, fieldset  { border:none; }
 
.latestnews li, .mostread li, .latestnews-color li, .mostread-color li {
	background:url(../images/arrow.png) no-repeat center left;
	padding-left:15px;
}

/* Small text */
.small, .smalldark, .createdate, .mosimage_caption,
.back_button, .pagenavcounter, .pagenav, .pagenavbar  {
     font-size: 1em;
	 text-transform:uppercase;
	 font-weight:bold;
}

.modifydate {
     font-size: 0.9em;
     padding-top: 10px; }

.pagenav, .pagenav_prev, .pagenav_next, .pagenavbar {
     padding: 0 2px;
}

p  {
    padding:5px; }

ul  {
	list-style: none; }

ul li  {
	padding: 2px; }

ol  {
	margin-top: 5px;
	margin-bottom: 5px; }

ol li  {
	margin-left: 15px; }

th  {
	padding: 4px;
	font-weight: bold;
	text-align: left; }

fieldset  {
	border: none; }

fieldset a  {
	font-weight: bold; }


a img  {
	border: none; }

td, div  {
	font-size: 1em; }

/* JOOMLA STYLE
--------------------------------------------------------- */
table.blog  {

}

table.blog .article_seperator  {
	display: block;
	border-bottom:dotted 1px #cccccc;
	height: 10px; }


table.contentpane  {
    border-collapse:collapse;
	border-spacing:0px;
	margin:0px;
	padding:0px;
 }

table.contentpaneopen, table.contentpane, table.blog {
width: 100%; }

* html table.contentpaneopen, table.contentpane, table.blog {
width: 98%; }

table.contentpaneopen {
padding-bottom:2px;
}

table.contentpane {
margin-top:15px;
}

table {
     margin-left: auto;
     margin-right: auto; }

table.contentpaneopen  {
	border: none; }
	
table.contentpaneopen tr td {
padding-left:4px;
padding-right:4px;
}

* html table.contentpaneopen tr td {
padding-left:8px;
}

table.contenttoc  {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 35%; }

table.contenttoc a  {
	text-decoration: none; }

table.contenttoc td  {
	padding: 1px 5px 1px 25px; }

table.contenttoc th  {
	padding: 4px;
	background: #2F2F2F;
	color: #FFFFFF;
	text-indent: 5px;
	border: 1px solid #3F3F3F; }

table.poll  {
	padding: 0;
	width: 100%;
	border-collapse: collapse; }

table.pollstableborder  {
	padding: 0;
	width: 100%;
	border: none;
	text-align: left; }

table.pollstableborder img  {
	vertical-align: baseline; }

table.pollstableborder td  {
	padding: 2px!important; }

table.searchintro  {
	padding: 10px 0;
	width: 80%; }

table.searchintro td  {
	padding: 5px!important; }

table.adminform  {
	width: 400px!important; }

.blog_more  {
	margin: 10px 0; }

.blog_more strong  {
	margin: 0 0 5px;
	padding-left: 13px;
	display: block;
	color: #606060;
	text-transform: uppercase; }

td.buttonheading  {
	padding: 0 0 0 3px!important;
	text-align: center; }

.category  {
	font-size: 13px;
	font-weight: normal; }

.componentheading  {
	padding-bottom: 2px;
	margin-bottom: 10px;
    font-size: 1.8em;
	height:35px;
	line-height: normal;
	font-weight: bold; }

.contentdescription  {
	padding-bottom: 30px; }

table.blog .contentheading  {
	font-weight: bold;
	line-height: normal; }

.contentheading  {
     font-size: 14px;
	 height:35px;
     font-weight: bold;
     line-height: normal; }

a.contentpagetitle  {
	text-decoration: none!important; }

a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus  {
	text-decoration: none!important; }

.createdate  {
    padding-bottom:13px;
	font-size:1em; }

.modifydate  {
	height: 15px; }

.moduletable  {
	padding: 0; }

.mosimage  {
	padding: 0;
	border:1px solid #333333;
	margin:6px;	}

.mosimage img  {
	padding: 0;
	margin: 0!important; }
	
.mosimage_caption {
	background:#333333 none repeat scroll 0%;
	border-top:1px solid #333333;
	color:#FFFFFF;
	font-size:10px;
	margin-top:2px;
	padding:1px 2px;}

tr.sectiontableentry1 td  {
	padding: 5px; }

tr.sectiontableentry2 td  {
	padding: 5px; }

.smalldark  {
	text-align: left; }

div.syndicate div  {
	text-align: center; }
	
a.readon  {
	float: left;
	color:#FFFFFF;
	border:solid 1px #484848;
	padding-left:20px;
	display: block;
	line-height:24px;
	padding-left:9px;
	margin-top:10px;
	height:22px;
	width:70px;
	font-size:11px;
	font-weight: normal;
	text-decoration: none; }
	
a.readon:link, a.readon:visited {
	color:#FFFFFF;
	}

a.readon:hover, a.readon:active, a.readon:focus  {	
	color:#FFFFFF;
	text-decoration:underline; }

.back_button {
	height:37px;
	padding-top:26px; }

div.back_button a,
div.back_button a:hover,
div.back_button a:active  {
	margin: -2px 0;
	display: block;
	font-weight:bold;
	height:37px;
	text-decoration: none!important; }

.pollstableborder {
margin-top:10px;
margin-bottom:10px;
}

table.pollstableborder td {
background:none;
}
	
.clr {
    clear: both;
}


/* BODY ELEMENTS
----------------------------------------------------------- */

#s5_body {
background:#ffffff url(../images/s5_bg_grad.png) repeat-x;
}

#s5_main_wrapper {
margin-left:auto;
margin-right:auto;
}

#s5_l_bg_shadow {
float:left;
width:36px;
border-right:solid 1px #3B3B3B;
background:url(../images/s5_bg_l_shadow.png) repeat-y top left;
}

#s5_r_bg_shadow {
float:left;
width:36px;
border-left: solid 1px #3B3B3B;
background:url(../images/s5_bg_r_shadow.png) repeat-y top right;
}

#s5_inner_wrapper {
float:left;
background:url(../images/s5_body_bg.png);
}

#s5_top, #s5_bottom {
background:#3B3B3B;
color:#FFFFFF;
font-size:12px;
padding:13px;
text-align:right;
}

#s5_bottom {
padding:16px;
}

#s5_footer_text a, #s5_top a {
color:#CCCCCC;
}

#s5_username {
border:none;
color:#FFFFFF;
height:18px;
padding-left:8px;
width:133px;
margin-left:12px;
padding-right:8px;
padding-top:2px;
}

#s5_password {
border:none;
color:#FFFFFF;
height:18px;
padding-left:8px;
width:133px;
padding-right:8px;
margin-left:12px;
padding-top:2px;
}

#s5_hl .inputbox {
margin-top:0px;
margin-bottom:0px;
overflow:hidden;
color:#FFFFFF;
background:#484848;
border:solid 1px #5F5F5F;
}

#s5_hl .button {
margin-top:0px;
margin-bottom:0px;
background:#484848;
border:solid 1px #5F5F5F;
}

#s5_hl {
padding-right:25px;
}

#s5_top .contentpaneopen {
padding:0px;
}

#s5_top .article_seperator {
display:none;
}

#s5_logo_banner {
height:93px;
background:#FFFFFF url(../images/s5_logo.png) no-repeat bottom left;
}

#s5_logo_banner_inner {
padding-left:0px;
padding-right:26px;
padding-top:0px;
padding-bottom:0px;
}

#s5_banner {
float:right;
vertical-align:top;
/*height:60px;*/
width:100%;
text-align:right;
padding-top:16px;
}

#s5_menu {
background:#EEEEEE;
border-top:solid 1px #DBD9D9;
border-bottom:solid 1px #DBD9D9;
padding-top:5px;
padding-left:8px;
padding-bottom:0px;
padding-right:8px;
}

* html #s5_menu {
padding-left:4px;
}

#s5_bottom_wrapper {
padding-top:14px;
padding-bottom:14px;
font-size:11px;
}

.s5_tw_2 {
background: url('../images/s5_tr.png') no-repeat top right;
width:100%;
}

.s5_tw_3 {
background: url('../images/s5_tl.png') no-repeat top left;
}

.s5_tw_inner {
padding:14px;
padding-bottom:0px;
}

.s5_tw_0_dark {
background: url('../images/s5_br_dark.png') no-repeat bottom right;
margin-bottom:14px;
width: 100%;
}

.s5_tw_1_dark {
background: url('../images/s5_bl_dark.png') no-repeat bottom left;
}

.s5_tw_2_dark {
background: url('../images/s5_tr_dark.png') no-repeat top right;
}

.s5_tw_3_dark {
background: url('../images/s5_tl_dark.png') no-repeat top left;
}

.s5_tw_inner_dark {
padding:14px;
padding-bottom:0px;
color:#FFFFFF;
}

#s5_bottom_left_wrapper, #s5_bottom_right_wrapper {
float:left;
}

#s5_bottom_left_wrapper_inner, #s5_content_wrapper_inner {
padding-left:14px;
padding-right:14px;
}

#s5_bottom_left_wrapper li, #s5_right_inner li {
font-weight:normal;
list-style:circle;
margin-left:10px;
}

#s5_content_wrapper {
float:left;
}

#s5_right_inner {
padding-left:14px;
padding-right:14px;
}

#s5_content_body_wrapper {
background:#cccccc;
float:left;
}

#s5_inset_wrapper {
float:left;
}

#s5_pathway {
margin-bottom:6px;
padding-left:2px;
padding-top:4px;
}

#s5_row3_wrapper_inner, #s5_row4_wrapper_inner {
padding:14px;
padding-top:0px;
margin-top:-14px;
font-size:12px;
}

#s5_row5_wrapper {
margin-top:-12px;
padding-bottom:12px;
font-size:12px;
}

#s5_row5_wrapper_inner {
padding-left:12px;
padding-right:12px;
background:#ffffff url(../images/s5_bot_row.png) repeat-x;
border-bottom:solid 2px #CFCDCD;
}

#s5_row5_wrapper_inner2 {
padding:12px;
}

/* MODULE STYLES
----------------------------------------------------------- */


#s5_row5 div.module h3 {
font-size:15px;
margin-top:5px;
margin-bottom:25px;
}

#s5_user5, #s5_user6, #s5_user7, #s5_user8, #s5_user9, #s5_legals, #s5_newsflash, #s5_icon, #s5_advert2, #s5_advert3, #s5_cpanel, #s5_footer {
float:left;
}

#s5_bottom_wrapper div.module-none { 
	padding:0px;
	margin:0px;
	margin-bottom:14px;
    width: 100%;
}

#s5_bottom_wrapper div.module-box { 
	padding:0px;
	margin:0px;
	margin-bottom:14px;
	background:#ffffff;
	border:solid 1px #CFCDCD;
}

#s5_bottom_wrapper div.module-box div {
	padding:0px;
	margin:0px;
	width:100%
}

#s5_bottom_wrapper div.module-box div div {
	padding:0px;
	margin:0px;
}

#s5_bottom_wrapper div.module-box div div div {
	padding:0px;
	margin:0px;
	padding:12px;
	width: auto;
}

#s5_bottom_wrapper div.module-box div div div div {
	margin: 0px;
	padding: 0px;
	background: none;
}

#s5_bottom_wrapper div.module-box div div div h3 {
	font-size:12px;
	margin-left:-12px;
	margin-top:-12px;
	margin-right:-12px;
	margin-bottom:6px;
	padding:12px;
	padding-top:12px;
	padding-bottom:0px;
	color:#000000;
}

#s5_bottom_wrapper div.module-grey { 
	background: url('../images/s5_br_yes.png') no-repeat bottom right;
	padding:0px;
	margin:0px;
	margin-bottom:14px;
    width: 100%;
}

#s5_bottom_wrapper div.module-grey div {
	background: url('../images/s5_bl_yes.png') no-repeat bottom left;
	padding:0px;
	margin:0px;
	width: 100%;
}

#s5_bottom_wrapper div.module-grey div div {
	background: url('../images/s5_tr_grey.png') no-repeat top right;
	padding:0px;
	margin:0px;
}

#s5_bottom_wrapper div.module-grey div div div {
	background: url('../images/s5_tl_grey.png') no-repeat top left;
	padding:0px;
	margin:0px;
	padding:12px;
	width: auto;
}

#s5_bottom_wrapper div.module-grey div div div div {
	margin: 0px;
	padding: 0px;
	background: none;
}

#s5_bottom_wrapper div.module-grey div div div h3 {
	font-size:14px;
	margin-left:-12px;
	margin-top:-12px;
	margin-right:-12px;
	margin-bottom:10px;
	border-bottom:solid 1px #CFCDCD;
	padding:12px;
	padding-top:12px;
	padding-bottom:9px;
	color:#000000;
}

#s5_bottom_wrapper div.module-grey_white { 
	background: url('../images/s5_br_no.png') no-repeat bottom right;
	padding:0px;
	margin:0px;
	margin-bottom:14px;
    width: 100%;
}

#s5_bottom_wrapper div.module-grey_white div {
	background: url('../images/s5_bl_no.png') no-repeat bottom left;
	padding:0px;
	margin:0px;
	width: 100%;
}

#s5_bottom_wrapper div.module-grey_white div div {
	background: url('../images/s5_tr_grey.png') no-repeat top right;
	padding:0px;
	margin:0px;
}

#s5_bottom_wrapper div.module-grey_white div div div {
	background: url('../images/s5_tl_grey.png') no-repeat top left;
	padding:0px;
	margin:0px;
	padding:12px;
	width: auto;
}

#s5_bottom_wrapper div.module-grey_white div div div div {
	margin: 0px;
	padding: 0px;
	background: none;
}

#s5_bottom_wrapper div.module-grey_white div div div h3 {
	font-size:12px;
	margin-left:-12px;
	margin-top:-12px;
	margin-right:-12px;
	margin-bottom:10px;
	border-bottom:solid 1px #CFCDCD;
	padding:12px;
	padding-top:12px;
	padding-bottom:9px;
	color:#000000;
}

#s5_bottom_wrapper div.module { 
	background: url('../images/s5_br_yes.png') no-repeat bottom right;
	padding:0px;
	margin:0px;
	margin-bottom:14px;
    width: 100%;
}

#s5_bottom_wrapper div.module div {
	background: url('../images/s5_bl_yes.png') no-repeat bottom left;
	padding:0px;
	margin:0px;
	width: 100%;
}

#s5_bottom_wrapper div.module div div {
	background: url('../images/s5_tr.png') no-repeat top right;
	padding:0px;
	margin:0px;
}

#s5_bottom_wrapper div.module div div div {
	background: url('../images/s5_tl.png') no-repeat top left;
	padding:0px;
	margin:0px;
	padding:12px;
	width: auto;
}

#s5_bottom_wrapper div.module div div div div {
	margin: 0px;
	padding: 0px;
	background: none;
}

#s5_bottom_wrapper div.module div div div h3 {
	font-size:14px;
	margin-left:-12px;
	margin-top:-12px;
	margin-right:-12px;
	margin-bottom:10px;
	border-bottom:solid 1px #CFCDCD;
	padding:12px;
	padding-top:12px;
	padding-bottom:9px;
	color:#000000;
}

#s5_bottom_wrapper div.module-white { 
	background: url('../images/s5_br_no.png') no-repeat bottom right;
	padding:0px;
	margin:0px;
	margin-bottom:14px;
    width: 100%;
}

#s5_bottom_wrapper div.module-white div {
	background: url('../images/s5_bl_no.png') no-repeat bottom left;
	padding:0px;
	margin:0px;
	width: 100%;
}

#s5_bottom_wrapper div.module-white div div {
	background: url('../images/s5_tr.png') no-repeat top right;
	padding:0px;
	margin:0px;
}

#s5_bottom_wrapper div.module-white div div div {
	background: url('../images/s5_tl.png') no-repeat top left;
	padding:0px;
	margin:0px;
	padding:12px;
	width: auto;
}

#s5_bottom_wrapper div.module-white div div div div {
	margin: 0px;
	padding: 0px;
	background: none;
}

#s5_bottom_wrapper div.module-white div div div h3 {
	font-size:14px;
	margin-left:-12px;
	margin-top:-12px;
	margin-right:-12px;
	margin-bottom:10px;
	border-bottom:solid 1px #CFCDCD;
	padding:12px;
	padding-top:12px;
	padding-bottom:9px;
	color:#000000;
}

#s5_bottom_wrapper div.module-none div div div h3 {
	font-size:13px;
	margin-bottom:10px;
}

#s5_bottom_wrapper div.moduletable h3, #s5_bottom_wrapper div.moduletable-color h3 {
	font-size:14px;
	margin-bottom:10px;
	color:#333333;
}

#s5_right_wrapper #mod_search_searchword {
height:19px;
margin:0px;
border: solid 1px #BFBEBE;
color: #333333;
background: #ffffff;
padding:1px;
padding-left:4px;
}

#s5_right_wrapper div.search-none .button-none, #s5_right_wrapper div.search .button {
height:auto;
margin:0px;
margin-left:6px;
margin-right:6px;
}

#s5_right_wrapper div.search-none {
text-align:right;
}

#s5_row1_wrapper div.moduletable, #s5_row2_wrapper div.moduletable {
/*border:solid 1px #DBD9D9;
border-bottom:solid 1px #8B8B8B;
border-right:solid 1px #8B8B8B;
background:#FFFFFF url(../images/s5_menu_link.png) repeat-x;*/
padding:12px;
margin-bottom:14px;
}

#s5_adv1 div.moduletable {
padding-bottom:14px;
}

#s5_row3_wrapper_inner div.module h3, #s5_row4_wrapper_inner div.module h3 {
margin-bottom:10px;
font-size:15px;
color:#000000;
}

#s5_row3_wrapper_inner div.module, #s5_row4_wrapper_inner div.module {
margin-bottom:14px;
width:100%
}

#s5_row4_wrapper_inner .s5_tw_inner_dark div.module {
color:#dedede;
margin-bottom:14px;
}

#s5_row4_wrapper_inner .s5_tw_inner_dark div.module h3 {
color:#FFFFFF;
font-size:14px;
margin-right:35px;
margin-bottom:12px;
padding-bottom:6px;
border-bottom:solid 1px #5D5F63;
}

/* BOTTOM MENU
----------------------------------------------------------- */

#s5_bottom_pos {
margin-top:-12px;
margin-bottom:12px;
}

* html #s5_bottom_pos {
margin-top:0px;
margin-bottom:12px;
}

ul#mainlevel-bottom {
	font-family:Arial;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
	list-style-image:none;
	float:right;
	margin:0px;
	list-style-position:outside;
	list-style-type:none; }

ul#mainlevel-bottom li {
	display:block;
    margin-right:14px;
	padding:0px;
    float: right; }
	
ul#mainlevel-bottom li a {
	display:block;
	color:#333333;
	background:none;
	border:none;
	padding:0px;
	font-size:12px;
	text-decoration:none; }
	
ul#mainlevel-bottom li a:hover {
	background:none;
	text-decoration:underline; }
	
a.mainlevel-bottom:visited {
	color:#333333;
}


/* DEFAULT MENU
----------------------------------------------------------- */

a.mainlevel  {
     display:block;
     margin:0pt;
     padding:5px;
	 padding-left:8px;
     text-decoration:none;
	 color:#000000;
     font-size: 12px;
	 border-bottom:solid 1px #F5F4F4;
 }
 
#active_menu {
font-weight:bold;
}
 
#mainlevel li {
	padding-left:0px;
	padding-right:0px;
}

a.sublevel  {
     display:block;
     font-family: Arial;
     font-size: 8pt;
     padding:3px 3px 3px 14px;
 }
 
a.sublevel:hover {
     text-decoration: underline;
 }

a.mainlevel:hover {
	background:#F8F8F8;
	color:#000000;
}



/* DARK ROW MENUS
----------------------------------------------------------- */

#s5_row4_wrapper_inner a.mainlevel  {
     display:block;
     margin:0pt;
     padding:0px;
	 padding-left:4px;
	 margin-bottom:8px;
     text-decoration:none;
	 color:#DEDEDE;
     font-size: 12px;
	 border:none;
 }
 
#s5_row4_wrapper_inner #active_menu {
font-weight:bold;
}
 
#s5_row4_wrapper_inner #mainlevel li {
	padding-left:0px;
	padding-right:0px;
}

#s5_row4_wrapper_inner a.sublevel  {
     display:block;
     font-family: Arial;
     font-size: 8pt;
     padding:3px 3px 3px 14px;
 }
 
#s5_row4_wrapper_inner a.sublevel:hover {
     text-decoration: underline;
 }

#s5_row4_wrapper_inner a.mainlevel:hover {
	text-decoration: underline;
	color:#FFFFFF;
	background:none;
}



/* System Standard Messages */
#system-message { margin-bottom: 20px; }

#system-message dd.message ul { background: #C3D2E5 url(../../system/images/notice-info.png) 4px center no-repeat;}

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}

label.invalid {
color:#FF0000;
}
label.invalid {
color:red;
}
.invalid {
border-color:#FF0000;
}
.invalid {
border-color:red !important;
}

.tool-tip {

   float: left;

   background: #CCCCCC;

   border: 1px solid #333333;

   padding: 5px;

   color:#000000;

   max-width: 200px;

}

 

.tool-title {

   padding: 0;

   margin: 0;

   font-size: 100%;

   font-weight: bold;

   margin-top: -15px;

   padding-top: 15px;

   padding-bottom: 5px;

   color:#000000;

}

 

.tool-text {

   font-size: 100%;

   color:#000000;

   margin: 0;

}

#s5_l_bg_shadow, #s5_r_bg_shadow {
height:1px;
}