@CHARSET "ISO-8859-1";

body {
  background-color: ash;
}

h1 {
  color: orange;
  font-family: verdana;
  font-size: 10;
}

h2 {
  color: yello;
  font-family: verdana;
  font-size: 10;
}
input {
	color: white;
}
